{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@prisma/(.*)$",
    "^@common/(.*)$",
    "^@config/(.*)$",
    "^@database/(.*)$",
    "^@modules/(.*)$",
    "^@shared/(.*)$",
    "^@lib/(.*)$",
    "^@jobs/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
